.card{
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(218, 213, 213);
    border: none;
    border-color: transparent;
    transition: border-color 1s ease;
    transition-property: transform;
    transition-duration: 1s;

    &:hover {
    border: 3px solid #c92595;
    }
    
    .card-img-top {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    }
}

.card:hover {
    transform: scale(1.07);
}