
$fuente-principal: 'Elsie',cursive;
$fuente-secundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$color-principal: linear-gradient(to right, #c92595 , #d3a5c4);
$color-secundario: linear-gradient(to right, #16D9EB , #E2FAFC);