/*fuentes*/
$fuente-principal: 'Elsie',cursive;
$fuente-secundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

/*colores*/
$color-principal: linear-gradient(to right, #c92595 , #d3a5c4);
$color-secundario: linear-gradient(to right, #16D9EB , #E2FAFC);
$color-terciario: linear-gradient(to bottom, #c92595, #d3a5c4);
$color-4to: linear-gradient(to left, #e1dbe2 , #ffffff);

@mixin parrafo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    padding: auto;
}

@keyframes animacion {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  h1, h2, section {
    opacity: 0;
    animation: animacion 2s ease-in-out forwards;
  }

  @keyframes animacionLogo {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .container .logokm {
    animation: animacionLogo 1s ease-in-out forwards;
  }
